main {
  width: 100%;
  height: 100vh;

  .svg-container {
    height: 100%;
    display: flex;
    align-items: center;

    .svg-wrapper {
      position: relative; /* Ensure the step is positioned relative to this container */
      flex: 1 1 100%;

      oie-svg {
        position: absolute;
        width: 100%;
      }

      oie-step {
        position: absolute;
        display: block;
        visibility: visible;
      }
    }
  }
}

.oie-drawer-container {
  width: 100%;
  height: 100%;
  background: transparent;

  .oie-drawer {
    padding: 20px;
  }

  .oie-sidenav-trigger {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

/**
 * Manages the Board.
 */
.board-manager {
  display: flex;
  flex-direction: column;
}

.editable g:active > circle {
  fill: orange;
}
