<main>
  <mat-drawer-container [hasBackdrop]="true" autosize class="oie-drawer-container">


    <div [attr.contenteditable]="editSteps" [class.editable]="editSteps" class="svg-container">
      <div class="svg-wrapper">
        <oie-svg [withSteps]="withSteps"></oie-svg>
        <oie-step #step1 [type]="StepType.BUBBLE" [value]="'ein'"></oie-step>
      </div>
    </div>

    <div class="oie-sidenav-trigger">
      @if (!drawer.opened) {
        <button (click)="drawer.toggle()" aria-label="Example icon-button with menu icon" class="example-icon"
                mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      }
    </div>

    <mat-drawer #drawer class="oie-drawer" mode="side" position="end">
      <h1>Manage steps</h1>
      <div class="board-manager">
        <mat-checkbox [(ngModel)]="withSteps">With Steps</mat-checkbox>
        <mat-checkbox [(ngModel)]="editSteps">Edit Steps</mat-checkbox>
      </div>
    </mat-drawer>


  </mat-drawer-container>

</main>
